.editor-container {
    position: relative;
    height: 500px;
}

    .editor-container.full-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1050;
    }

    .editor-container .btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1100;
    }

    .editor-container .btn-expand {
        display: block;
    }

    .editor-container .btn-collapse {
        display: none;
    }

    .editor-container.full-screen .btn-expand {
        display: none;
    }

    .editor-container.full-screen .btn-collapse {
        display: block;
    }

    .editor-container .editor-content {
        height: 100%;
        width: 100%;
    }

.code-editor .alert {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.logs-editor .save-widgets {
    display: none;
}