.app-navbar {
}

    .app-navbar .navbar-collapse {
        display: flex !important;
    }

        .app-navbar .navbar-collapse .app-navbar-search {
            flex-grow: 1;
            text-align: center;
        }

@media (max-width: 991px) {
    .app-navbar .navbar-collapse {
        flex-direction: column;
    }
}
