.app-search {
    width: 100%;
}

.app-search-container {
    max-width: 500px;
    position: relative;
    width: 100%;
}

.app-search input[type=text].app-search-input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: none;
    max-width: none;
    opacity: 0.4;
    padding-left: 40px;
    width: 100%;
}

    .app-search input[type=text].app-search-input:focus {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: none;
        opacity: 1;
    }

.app-search .glyphicon {
    content: ' ';
    left: 13px;
    opacity: 0.7;
    position: absolute;
    top: 8px;
}
