html {
  background-color: #f1f1f1; }

body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #f1f1f1; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

.list-panel {
  margin: 6px 0 12px 0; }
  .list-panel-header {
    margin-bottom: 8px; }
  .list-panel-content {
    padding: 0; }
    .list-panel-content .list-panel-item:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    .list-panel-content .list-panel-item:last-child {
      border: none;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
  .list-panel-item {
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F0F0F0; }
    .list-panel-item:hover {
      background-color: #eeeeee;
      cursor: pointer; }
    .list-panel-item-icon {
      height: 22px;
      width: 22px;
      margin-right: 6px; }

.tile,
.list-panel-content {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  padding: 8px 12px;
  margin: 6px 0 12px 0; }
  .tile:hover {
    cursor: pointer;
    background-color: #fffcfc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 8px 12px 0 rgba(0, 0, 0, 0.12); }
  .tile-content {
    max-width: 300px; }

.header-underline {
  width: 100px;
  height: 2px;
  background-color: #ff774d;
  border: 1px solid #ff774d;
  border-radius: 2px;
  margin: 12px 0; }
  .header-underline.underline-lg {
    margin: 18px 0;
    background-color: #ff3d02;
    border-color: #ff3d02; }

.text-light {
  font-weight: 100; }

.login-panel {
  width: 310px;
  margin: 0 auto; }
  .login-panel form {
    width: 280px;
    margin: 0 auto; }
  .login-panel .btn {
    width: 100%; }

.btn-link,
.panel {
  border-radius: 6px; }

.btn-primary {
  border-radius: 6px; }

.navbar-separator {
  background-color: #b2dbfb;
  padding: 17px 0;
  margin: 15px 15px;
  width: 1px;
  opacity: 0.3; }

.tags {
  overflow: hidden;
  white-space: nowrap; }
  .tags .label {
    margin-right: 5px; }
