@using Project.Hub.Config.Entities.Common

@model IEnumerable<BaseConfig>

@if (Model.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("APIs"))

    @foreach (var api in Model)
    {
        <p>@api.Name</p>
    }
}