@using Project.Hub.Config.Entities.Common

@model IEnumerable<BaseConfig>

@if (Model.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("Downloads"))

    @foreach (var download in Model)
    {
        <p>@download.Name</p>
    }
}