@using Project.Hub.Config.Entities.Common

@model IEnumerable<BaseConfig>

@if (Model.Any())
{
    @Html.Partial("_SectionHeader", new BaseConfig("Environments"))

    <div class="app-search-result-items">
        @foreach (var env in Model)
        {
            @Html.Partial("_EnvironmentTile", env)
        }
    </div>
}
