@model string

<p class="lead">Generate password that has to change current admin password.</p>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Readme</h3>
    </div>
    <div class="panel-body">
        <p>After password hash generation you still have change it manually in the <strong>appsettings.json</strong></p>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>See your new password hash. Do not forget to put it into <strong>appsettings.json</strong></p>
        <p>
            <strong>@Model</strong>
        </p>
    </div>
}

<section>
    <form asp-area="" asp-controller="Admin" asp-action="GeneratePasswordHash" method="post" id="passwordHashForm">
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Input new Password here"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Generate Hash</button>
        </div>
    </form>
</section>