@model string;

<div class="code-editor">
    <div class="editor-container panel">
        <button class="btn btn-lg btn-link btn-expand invisible">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </button>
        <button class="btn btn-lg btn-link btn-collapse invisible">
            <span class="glyphicon glyphicon-resize-small"></span>
        </button>

        <div class="editor-content">@Model</div>
    </div>

    <div class="alert alert-danger hidden">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <div class="alert alert-success hidden">
        <strong>Well done!</strong> You has successfully changed the configuration.
    </div>

    <div>
        <button class="btn btn-primary btn-save">Save Config</button>
        <span class="text-danger hidden config-error">JSON is invalid. Fix all errors.</span>
    </div>
</div>