@model string

<p class="lead">Configuration of NLog logger.</p>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Before Edit</h3>
    </div>
    <div class="panel-body">
        <p>Please, make sure that you know what you are doing. You cannot break enything except logs with changes, however be careful.</p>
        <p>
            You may need to get acquainted with <a href="https://github.com/NLog/NLog/wiki/Tutorial" target="_blank">the official NLog doc</a> before providing any changes.
        </p>
    </div>
</div>

<div class="nlog-config-editor">
    @Html.Partial("_CodeEditor", Model)
</div>

<script type="text/javascript">
    (function () {
        var readyCalled = false;
        document.addEventListener("DOMContentLoaded", () => {
            if (!readyCalled) {
                readyCalled = true;
                new CodeEditor(".nlog-config-editor", "admin/saveNLogConfig", {
                    mode: "ace/mode/xml"
                });
            }
        }, false);
     })();
</script>