@using Microsoft.Extensions.Options;
@using Project.Hub.Settings;
@using Project.Hub.Utils;
@inject IOptions<AppConfiguration> AppConfiguration
@model System.DateTimeOffset

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Warning</h3>
    </div>
    <div class="panel-body text-justify">
        <p>
            <span>Versions last updated at 
                <strong>
                    @Model.ConvertToTimeZone(AppConfiguration.Value.DisplayTimeZone).ToString("dd MMM HH:mm")
                </strong>
                (@AppConfiguration.Value.DisplayTimeZone).
            </span>
            <span>Info updating regulary. It could take 
            <strong>up to @AppConfiguration.Value.VersionsCacheExpirationInHours hours</strong> 
            for update.</span>
        </p>
        <p>Please, be patient and enjoy your day 🥂.</p>
    </div>
</div>