<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Warning</h3>
    </div>
    <div class="panel-body">
        <p>Versions updated regulary. It could take <strong>up to 1 hour</strong> for update.</p>
        <p>Please, be patient and enjoy your day 🥂.</p>
    </div>
</div>