@using Project.Hub.Config.Entities

@model ComponentConfig

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<p class="lead">@Model.Description</p>

@Html.Partial("_SectionHeader", new BaseConfig("Links"))
<div class="row">
    <div class="list-panel-content col-xs-12">
        <a class="list-panel-item col-xs-12" href="#" target="_blank">
            <div class="col-xs-12 col-sm-3">
                <span>Testing</span>
            </div>
            <div class="col-xs-12 col-sm-9">
                <span class="text-light">v3.0.0</span>
            </div>
        </a>
        <a class="list-panel-item col-xs-12" href="#" target="_blank">
            <div class="col-xs-12 col-sm-3">
                <span>Production</span>
            </div>
            <div class="col-xs-12 col-sm-9">
                <span class="text-light">v2.0.0</span>
            </div>
        </a>
    </div>
</div>
