@using Microsoft.Extensions.Options;
@using Project.Hub.Config.Entities;
@using Project.Hub.Config.Entities.v1;
@using Project.Hub.Settings;

@inject IOptions<AppConfiguration>  AppConfiguration

@model Configuration
@{
    ViewData["Title"] = AppConfiguration.Value.AppDisplayName;
}

@Html.Partial("_SectionHeader", new BaseConfig("Environments", "Select environment which you want to explore."))

<div class="row">
    @foreach (var environment in Model.Environments)
    {
        @Html.Partial("_EnvironmentTile", environment)
    }
</div>

@Html.Partial("_SectionHeader", new BaseConfig("General Links", "General links to services that not related to environments."))
@Html.Partial("_LinksPanel", Model.SystemLinks)