<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="tab" value="	"></variable>
  <variable name="logDirectory" value="${basedir}\logs"/>
  <variable name="defaultLayout" 
            value="${longdate}|${uppercase:${level}}${tab}|${message} ${exception:format=tostring}"></variable>

  <targets>
    <target xsi:type="File" name="fileTarget" fileName="${logDirectory}\${shortdate}.log" layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="fileTarget" />
  </rules>
</nlog>