@using Project.Hub.Utils
@model Project.Hub.Config.Entities.DownloadLink

<div class="col-xs-12 col-sm-4 col-lg-3">
    <a class="tile" href="@Url.GetDownloadLink(Model)" target="_blank">
        <span class="glyphicon glyphicon-transfer pull-right"></span>
        <h5 class="text-primary">@Model.Name</h5>
        <div class="tile-content">
            <p>@Model.Description</p>
        </div>
    </a>
</div>

