@using Project.Hub.Utils

@model IEnumerable<Project.Hub.Config.Entities.v1.DownloadLink>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="list-panel col-xs-12">

            @Html.Partial("_ListHeader")

            <div class="list-panel-content col-xs-12">
                @foreach (var download in Model.OrderBy(s => s.Name))
                {
                    <a class="list-panel-item col-xs-12" href="@Url.GetDownloadLink(download)" target="_blank">
                        <div class="col-xs-12 col-sm-3">
                            <span>@download.Name</span>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="text-light">@download.Description</span>
                        </div>
                    </a>
                }
            </div>

        </div>
    </div>
}
else
{
    <span class="text-center lead">No downloads to display.</span>
}

