@model Project.Hub.Config.Entities.Common.BaseConfig

<div class="col-xs-12 col-sm-4">
    <div class="col-xs-12 tile">
        <h5 class="text-primary tile-header">@Model.Name</h5>
        <p class="tile-content">@Model.Description </p>
        <a asp-action="Environment" asp-route-id="@Model.Name" class="btn btn-link">
            <span>Details »</span>
        </a>
    </div>
</div>