@model Project.Hub.Config.Entities.BaseConfig

<div class="col-xs-12 col-sm-4">
    <div class="col-xs-12 tile">
        <h4 class="text-primary tile-header">@Model.Name</h4>
        <p class="tile-content">@Model.Description </p>
        @Html.ActionLink("Details »", "Environment", new { id = @Model.Name }, new { @class = "btn btn-link pull-right" })
    </div>
</div>