
<form class="navbar-form navbar-left app-search" role="search">
    <div class="form-group app-search-container">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control input-sm app-search-input" placeholder="Search for environment, website, download or hashtag...">
    </div>
</form>
