@model Project.Hub.Config.Entities.SiteLink

<div class="col-xs-12 col-sm-6 col-lg-4">
    <a class="tile" href="@Model.Url" target="_blank">
        <span class="glyphicon glyphicon-link pull-right"></span>
        <h4 class="text-primary">@Model.Name</h4>
        <div class="tile-content">
            <p>@Model.Description</p>
        </div>
    </a>
</div>
