<div class="list-panel-header hidden-xs col-sm-12">
    <div class="col-xs-4 col-sm-3">
        <strong class="text-uppercase">Name</strong>
        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
    </div>
    <div class="col-xs-8 col-sm-9">
        <strong class="text-uppercase">Description</strong>
    </div>
</div>