@model IEnumerable<string>

@if (Model != null && Model.Any())
{
    <div class="tags">
        @foreach (var tag in Model)
        {
            <a class="label label-primary"
               onclick="event.stopPropagation()"
               title="Find items with the same tag."
               asp-controller="Search" 
               asp-action="" 
               asp-route-query="@tag" 
               asp-route-isTag="true">
                #@tag
            </a>
        }
    </div>
}
