@model IEnumerable<string>

@if (Model != null && Model.Any())
{
    <div class="tags">
        @foreach (var tag in Model)
        {
            <!-- TODO: provide link to search all similar tags. MR -->
            <span class="label label-primary">#@tag</span>
        }
    </div>
}
