@using Project.Hub.Utils;

@{
    var mode = Context.Request.Cookies[Theme.CookieKey] == Theme.Dark ? "Light Mode" : "Dark Mode";
}

<a asp-controller="Home" asp-action="SwitchTheme" title="Switch website theme to @mode.">
    <span class="glyphicon glyphicon-adjust"></span>
    <span>@mode</span>
</a>
